<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.fancode.testComponents.Listeners"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="FancodeAutomationSuite">
    <classes>
        <class name="com.fancode.tests.FanCodeTest"><methods>
        <include name="verifyFanCodeUsersTodoCompletion"/></methods>
    </class>
    </classes>
</test>
</suite>